<%- include("templates/header") %>
<div class="text-center">
    <h1 class="display-4">Hello, <%= name %></h1>
    <a href="/members" class="btn btn-primary">Members Area</a>
    <a href="/logout" class="btn btn-danger">Logout</a>
</div>
<%- include("templates/footer") %>
