<%- include("templates/header") %>
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/signup" class="btn btn-secondary">Sign Up</a>
</div>
<%- include("templates/footer") %>
