<%- include("templates/header") %>
<div class="text-center">
  <h1>Hello, <%= name %></h1>
</div>
<div class="row">
  <div class="col-md-4">
    <img src="/image1.jpg" alt="Image 1" class="img-fluid">
  </div>
  <div class="col-md-4">
    <img src="/image2.jpg" alt="Image 2" class="img-fluid">
  </div>
  <div class="col-md-4">
    <img src="/image3.jpg" alt="Image 3" class="img-fluid">
  </div>
</div>
<%- include("templates/footer") %>
