<%- include("templates/header") %>
<div class="text-center">
    <h1 class="display-4">Sign Up</h1>
    <form action="/submitUser" method="post">
        <div class="mb-3">
            <input name="email" type="email" class="form-control" placeholder="email" required>
        </div>
        <div class="mb-3">
            <input name="password" type="password" class="form-control" placeholder="password" required>
        </div>
        <div class="mb-3">
            <input name="name" type="text" class="form-control" placeholder="name" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<%- include("templates/footer") %>
