<%- include("templates/header") %>
<div class="text-center">
    <h1 class="display-4">Error Signing Up</h1>
    <p class="text-danger"><%= errorMsg %></p>
    <a href="/signup" class="btn btn-primary">Take me back to sign up</a>
</div>
<%- include("templates/footer") %>
